body{background:rgba(236, 240, 240, 0.3);}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){border-bottom: 1px solid #0088ff;-webkit-box-shadow: 0 1px 0 0 #0088ff;box-shadow: 0 1px 0 0 #0088ff;}
.no-border_box{  border-bottom:none !important;-webkit-box-shadow:none !important;box-shadow:none !important;}
.ngox{background-color:#0088ff !important;}
.ngox darken-1{background-color:#0055ff !important;}
.ngox_{color:#0088ff !important;}
.brand-logo img{height:45px;width:45px;float:left;margin:10px;}
.brand-logo h1{font-size:inherit;display:inline-block;margin:inherit;}
.f30{font-size:30px !important;}
.input-field input[type=search] + label{top:-.8rem;}
.side-nav-header h1{margin:0;font-size:2rem;padding:1.25rem;}
#side-nav-search{padding:0 1.5rem;}
#side-nav-search .card{padding:.3rem;}
#side-nav-search input[type=search]{margin:0;border:0;}
#side-nav-search i.material-icons{position:absolute;right:.5rem;line-height:3rem;top:.5rem;font-weight:500;}
._label{padding:0 1rem;}
._label h2{margin:0;font-size:2rem;padding:0;}
.label-wrapper{background:#fff;display:inline-block;padding:0 .7rem;position: relative;color:#0088ff;font-size:.7rem;line-height:1.4rem;margin:0 0 0 1.4rem;height:1.4rem;cursor:pointer;transition:all .3s ease;-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);}
.label-wrapper a{color:#0088ff;}
.label-wrapper:before{border-image:none;border-style:solid;border-width:.7rem .5rem;content: "";height:.7rem;left: -1rem;position: absolute;top:0;width:.7rem;border-color: transparent #fff transparent transparent;}
.label-wrapper:after{background:#0088ff;content:"";height:4px;left:0;position: absolute;top:.6rem;width:4px;z-index: 999;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}
.label-wrapper span{position:absolute;top:0;right:-.7rem;padding:0 .3rem;background-color:#222;color:#fff;-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);}
.label-wrapper:hover:before{border-color: transparent #222 transparent transparent;}
.label-wrapper:hover{background-color:#222;}
.PopularPosts h6{margin:0;}
.PopularPosts h6{font-weight:600;color:#666;}
.PopularPosts p{color:#919191;font-size:.85rem;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
@media only screen and (min-width: 590px) {.container {width: 96%;}}
@media only screen and (min-width: 993px) {.container {width: 85%;}}
.post-thumb{width:300px;height:200px;float:left;margin-right:.5em}.post-thumb>figure{margin:0 .5em 0 0;height:100%;width:100%;}.post-thumb>figure>img{height:100%;width:100%;}.post_content{padding:.5em .5em 0 .5em;}.post_content>h2{margin:0;font-size:2rem;}.post_content h2 a{color:#515151;}
.head_,.head_ a,.head_>i{color:#616161;font-size:13px;vertical-align:middle;}
.head_{display:inline-block;background-color:#f0f0f0;line-height:2em;padding:0 .5em;margin:.5em 0;border-radius:2px;}
.jump-link{font-size:13px;bottom: 1rem;}
footer span{display:block;}h2.judul-gedi{font-size:3.5rem!important;line-height:110%;color:#0088ff!important;margin: 0 0 1rem 0!important;}.tulisan{font-size:16px;color:#555;}
@media only screen and (max-width:590px){.container{width:97%;overflow:hidden;}.post-thumb{width: 100%!important;float:none;}.post-thumb .parallax-container{height:100%!important;}}
.post-thumb{width:300px;position:relative;z-index:1;overflow:hidden;}
.post-thumb .parallax-container{height:100%;}
.post-thumb img{width:100%;}
